{% extends 'base.html' %}

{% block body %}

<!-- templates/about.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Our Todo App</title>
</head>
<body>
    <h1>About Todo App</h1>
    <p>Welcome to Todo app! This platform is designed to help you stay organized, focused, and productive in managing your tasks and responsibilities.</p>
    
    <h2>Purpose</h2>
    <p>This todo app is designed to simplify task management and improve productivity for individuals and teams. Whether you're organizing your personal tasks, coordinating team projects, or planning your daily activities, this app provides the tools you need to stay on top of your commitments.</p>
    
    <h2>Key Features</h2>
    <ul>
        <li>Task Management: Create, Edit, Update, Delete and also can check the Status of the tasks with ease.</li>
        <li>User-friendly Interface: Easy-to-Use interface for seamless navigation and efficient task management.</li>
    </ul>
    
    <h2>How to Use</h2>
    <ol>
        <li>Creating Tasks: Write Title and Description of your Todo and click on Submit.</li>
        <li>Updating Tasks: Select the task you want to edit, and make changes as needed. Click "Update" to update the task details.</li>
        <li>Deleting Tasks: To delete a task, click on the Delete button.</li>
        <li>Status check: This app also provides to check the status of your task whether it is Pending or Completed.</li>
    </ol>
    
    <h2>Contact Details</h2>
    <p>Your questions, feedback, or suggestions for improvement are always welcome. Please don't hesitate to reach out to us.</p>
    <p><strong>Author:</strong> <span style="color: #800080;">Amena Tousiath Unnisa</span></p>
    <p><strong>Email:</strong> <a href="mailto:tousiathaltaf@gmail.com" style="color: #800080;">tousiathaltaf@gmail.com</a></p>

    
    <p>Thank you for choosing this Todo app to help you manage your tasks and achieve your goals!</p>
</body>
</html>

{% endblock body %}
