{% extends 'base.html' %}

{% block body %}
   
   <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">MyTodo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>

    <div class="container my-3">
        <h2>Add a Todo</h2>
        <form action="/" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Todo Title</label>
                <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Todo Description</label>
                <input type="text" class="form-control" name="desc" id="desc">
            </div>
           
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div class="container my-3">
        <h2>Your Todo's</h2>
        {% if allTodo|length==0 %}
            <div class="alert alert-info" role="alert">
                No Todo's found. Add your first TODO now!!
            </div>
        {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">SNO</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Time</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in allTodo %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ todo.title }}</td>
                            <td>{{ todo.desc }}</td>
                            <td>{{ todo.date_created }}</td>
                            <td style="color: {% if not todo.tick %}red{% endif %};">
                                {% if todo.tick %}
                                    Completed
                                {% else %}
                                    Pending....
                                {% endif %}
                            </td>
                            <td class="d-flex align-items-center">
                                {% if not todo.tick %}
                                    <form action="/complete/{{ todo.sno }}" method="POST" style="display: inline;">
                                        <button type="submit" class="btn btn-outline-primary btn-sm mx-1">Complete</button>
                                    </form>
                                {% endif %}
                                <a href="/update/{{ todo.sno }}" type="button" class="btn btn-outline-primary btn-sm mx-1">Update</a>
                                <a href="/delete/{{ todo.sno }}" type="button" class="btn btn-outline-primary btn-sm mx-1">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

{% endblock body %}
